/**
 * Design Base for qKAI
 * @author W-Mark Kubacki; wmark@hurrikane.de
 */
html, body {
	background: #ebeee4 url(/img/se/ocre_small_bk.png) repeat-x scroll 0 0;
	color: #575656;
	font-family: Verdana, sans-serif;
	margin: 0;
	padding: 0;
	line-height: 1.5;
}
#doc3.yui-t1 {
	margin: 0;
	padding: 0;
}
hr {
	visibility: hidden;
	clear: both;
}
a {
	color: #575656;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
.center {
	margin-left: auto;
	margin-right: auto;
}
textarea,
input[type="text"], input[type="password"] {
	border: 1px solid;
}

/* header */
#hd h1 {
	text-indent: -1000em;
}
#hd h1,
#hd h2 {
	color: #a19d96;
	font-size: 108%;
	font-variant: small-caps;
}
#hd ul {
	border-top: 1px solid #9fa09a;
	border-right: 1px solid #9fa09a;
	font-size: 93%;
	float: right;
	width: 100%;
}
#hd ul li {
	display: inline;
}
#hd ul a {
	display: block;
	float: left;
	font-weight: bold;
	padding: 7px 15px 13px 0;
}
#doc2 #hd ul,
#doc3 #hd ul {
	margin-right: 13px;
}
#qkai-logo {
	width: 282px;
	height: 95px;
	position: absolute; 
	float: left;
	top: 10px;
}
/* search pane */
#sp {
	background: #3687A9 url(/img/se/sp_alpha_ver_bk.png) repeat-x scroll left top;
	color: #ffffff;
	height: 228px;
	padding: 15px 15px 0 15px;
}
#sp a {
	color: #ffffff;
}
#category_pane,
#search_pane {
	margin-top: 20px;
	font-size: 123.1%;
}
#category_pane input[type="text"],
#search_pane input[type="text"] {
	width: 80%;
	letter-spacing: -0.2px;
	padding: 5px;
	float: left;
}
#category_pane a,
#search_pane a {
	margin-left: 10px;
	padding: 3px;
	text-decoration: none;
}
#category_pane a.quasi_btn,
#search_pane a.quasi_btn {
	background: url(/img/se/square-selected.png);
}
#cat_form_token_choices,
#search_form_token_choices {
	max-height: 165px;
	overflow: auto;
}
/* body */
#bd {
	background: #fdfaf3 url(/img/se/egg_wide_bk.png) right bottom no-repeat;
	border-right: 1px solid #9fa09a;
	margin: 0 1em 0 1em;
	min-height: 320px;
	padding: 0.1em 0 80px 10px;
}
#bd h1,
#bd h2,
#bd h3 {
	font-size: 123%;
	margin: 0.7em 0 0;
	line-height: 1.4;
	border-top: 1px solid #f1f1f1;
	border-bottom: 1px solid #f1f1f1;
	padding-top: 2px;
	padding-bottom: 2px;
}
#bd h3.openid {
	background: url(/img/openid/openid-16x16.gif) left center no-repeat;
	padding-left: 20px;
}
#bd h3 a.inh {
	color: inherit;
}
#bd form {
	margin: 0.7em 0 0;
}
#bd input[type="text"], #bd input[type="password"] {
	border: 1px solid #868683;
	margin: 0pt;
	padding: 0pt;
}
/* results */
a.resource_a {
	margin-left: -0.8em;
}
.resource_name {
	font-weight: bold;
}
.resource_comment {
	margin-right: 1em;
}
.last_update,
.resource_uri {
	color: #898378;
}
.ext_link {
	background: transparent url(/img/extlink.gif) no-repeat scroll left center;
	margin-right: 1em;
	padding-left: 16px;
}
#bd ol li {
	margin-bottom: 0.5em;
	margin-left: 1em;
}

/* footer */
#ft {
	color: #898378;
	margin: 0.7em 0 0 0;
	padding-top: 0.5em;
	font-family: Verdana, sans-serif;
	min-height: 8em;
}
#ft .center {
	width: 740px;
	margin-top: 1.5em;
}
#ft .copyright {
	font-size: 85%;
}
#ft .copyright,
#ft .copyright a {
	color: #9faaa1;
}
#ft p.copyright[property="dc:creator"] {
	text-indent: 1.5em;
}
#ft #impressum {
	margin-top: 0.1em;
}
#ft #impressum,
#ft img {
	float: left;
	margin-left: 10px;
}
#ft #impressum ul {
	font-size: 93%;
	margin-bottom: 0.2em;
}
#ft #impressum ul li {
	display: inline;
}
#ft #impressum ul a {
	font-weight: bold;
	display: block;
	float: left;
	padding: 0 15px 7px 0;
}
#ft #impressum p {
	clear: left;
}

/* AutoComplete */
div.autocomplete {
	position: absolute;
	width: 250px;
	border: 1px solid #000000;
	margin: 0px;
	padding: 0px;
}
div.autocomplete ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}
div.autocomplete ul li.selected {
	background: url(/img/se/square-selected.png);
}
div.autocomplete ul li {
	background: url(/img/se/square.png);
	list-style-type: none;
	display: block;
	margin: 0;
	padding: 2px;
	cursor: pointer;
}
